<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "logo_01.png"%>
    <% end %>
    <div style= "width: 640px;">
    <%= form_with url: eventspaces_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an eventspace..."
  %>
  <%= submit_tag "Search", class: "btn btn-light"%>
  <% end %></div>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">



    <%# # >>> remove home (which is linked in the logo already) + remove messages (not a real feature) %>
        <% if user_signed_in? %>
          <%# "My Bookings" linking to /my_bookings - DONE %>
          <li class="nav-item active">
            <%= link_to "My Bookings", my_bookings_path, class: "nav-link" %>
          </li>
          <%# "My Eventspaces" linking to /my_eventspaces %>
          <li class="nav-item">
            <%= link_to "My Eventspaces", my_eventspaces_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Add event space", new_eventspace_path, class: "dropdown-item" %>
              <%= link_to "Book a space for your event", eventspaces_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
