
<ul class="cards">

<% @eventspaces.each do |e| %>

  <%= link_to eventspace_path(e) do %>
    <div class="card-trip">
      <% if e.photos.attached? %>
        <%= cl_image_tag e.photos.first.key %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
      <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= e.name %></h2>
            <p><%= e.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= "$#{e.price}"%></h2>
        </div>
    </div>
  <% end %>
  
<% end %>

</ul>
