

<div class="container">

<div class="form_book">
  <h1>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-columns-gap" viewBox="0 0 16 16">
      <path d="M6 1v3H1V1h5zM1 0a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm14 12v3h-5v-3h5zm-5-1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5zM6 8v7H1V8h5zM1 7a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H1zm14-6v7h-5V1h5zm-5-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1h-5z"/>
    </svg>
    <%= @eventspace.name %>
  </h1>
  <p><%= @eventspace.address%></p>
</div>
<div class="form_book">
  <div class="d-flex img-grid-wrapper">
    <div class="eventspace-img-grid img-grid-big w-50 me-2" style="background-image: url(<%= cl_image_path @eventspace.photos.first.key %>)"></div>
    <div class="w-50 img-grid-small">
      <% @eventspace.photos.drop(1).each do |photo| %>
        <div class="eventspace-img-grid w-100 h-100" style="background-image: url(<%= cl_image_path photo.key %>)"></div>
      <% end %>
    </div>
  </div>
</div>


<div class="form_book">
  <p><%= @eventspace.description %></p>
</div>
<div class="form_book">
<h4> € <strong><%= @eventspace.price%></strong>/day</h4>
</div>
<div class="form_book">
  <%# Form to create a booking - uncomment to unleash! %>
  <%= render "bookings/form", eventspace:@eventspace, booking:@booking %>
</div>

</div>
