<div class="container">

  <h1><%= @eventspace.name %></h1>

  <h3><%= @eventspace.description %></h3>
  <h4> €<%= @eventspace.price %></h4>

  <% if @eventspace.photos.size == 1 %>
    <%= cl_image_tag @eventspace.photos.first.key, width: 500, crop: :fill, class: "event-image" %>
  <% elsif @eventspace.photos.size > 1 %>
    <div class="d-flex form_book mb-4">
      <%= cl_image_tag @eventspace.photos.first.key, width: 500, crop: :fill, class: "event-image" %>
      <div class="events-cards">
        <% @eventspace.photos[1..-1].each do |photo| %>
          <%= cl_image_tag photo.key, style: "height:100%; width:100%", class: "event-image" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= image_tag "beachimage.jpeg" %>
  <% end %>

<div class="form_book">
  <%# Form to create a booking - uncomment to unleash! %>
  <%= render "bookings/form", eventspace:@eventspace, booking:@booking %>
</div>

</div>
